body, html {
  margin: 0;
  padding: 0;
}
h1 {
  text-indent: 10px;
}
label {
  display: block;
  padding-left: 10px;
  margin-bottom: 5px;
}
input[type="text"] {
  text-indent: 10px;
  width: 100%;
  height: 2.5em;
  border: none;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}
input[type="submit"] {
  margin: 0;
  background-color: black;
  border: none;
  color: white;
  padding: 9px 22px;
}
#chat-window {
  width: 100%;
  height: 300px;
  box-sizing: border-box;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  padding: 10px;
}
#chat-content {
  width: 100%;
  height: 100%;
  overflow-y: auto;
}
.chat-author {
  font-weight: bold;
}
